.ul
  // background #000
  text-align center
  padding 20px 0
  color #999
  
  button
    border none
    background #fff
    display inline-block
    min-width 30px
    height 30px
    line-height 30px
    border 1px solid #eee
    margin 0 3px
    outline 0
    color #666
  input
    border 1px solid #eee
    background #fff
    height 30px
    line-height 30px
    text-align center
    margin 0 5px
  li
    display inline-block
    margin 0 10px
    button
      padding 0 10px
  .confirm
    background #f45834
    border none
    color #fff
    border-radius 2px
    padding 0 15px
  .active
    background-color #eee
    cursor default

